*{
 outline: 0;
}
body{
    font-size: 16px;
    background-color: #181818;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    color: #868686;
    text-rendering: optimizeLegibility;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}
.top{
    background-color: #1c1c1c;
}
.top img{
    height: 35px;
}
.top>div>h1{
    color: #a6ca57;
    margin: 0;
    padding: 0;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}
.top>div{
    padding: 10px 0;
}
/* sudoku */
header > *, .container, .top>div{
    width: 88%;
    margin: 0 auto;
}
.top>div>a{
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
}
a:link, a:visited{
    color: #cecece;
    text-decoration: none;
}
.top .bottom-border{
    height: 2px;
    width: auto;
    background-color: #78a80f;
    padding: 0%;
}
header{
    fill: white;
    background-color: #0f0f0f;
    box-shadow: 0 -2px 0 0 #78a80f inset;
    border-bottom: 2px solid #262626;
}
a:hover, a:active{
    color: #78a80f;
}
.logo-wrap{
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
}
.logo{
    margin: 0 auto;
    text-align: center;
    width: 96px;
    height: 76px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(idk);
}
.nav>li:first-child>a>i{
    margin-right: 0;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
} 
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}
.nav_menu {
    list-style: none;
    padding: 0;
    border: 2px solid #78a80f;
    background-color: #141414;
    margin: 0 auto;
    position: relative;
    bottom: 0px;
    border-radius: 4px 4px 0px 0px;
    font-size: 13px;
}
.nav_menu>li:not(:first-child):not(.float_right){
    display: inline-block;
}
.nav_menu>li>a{
    display: block;
    padding: 10px 14px;
    text-align: center;
}
.nav_menu>li>a>i{
    margin-right: 5px;
}
@media only screen and (max-width: 768px) {
    .nav_menu > li:first-child {
      display: block;
    }
}
.nav_menu > li:first-child {
    display: none;
}
.nav_menu>li>a>i{
    vertical-align: middle ;
    margin-right: 6px;
    font-size: 120%;
}
.nav_menu>li>a>span{
    display: inline-block;
    vertical-align: middle;
}
.nav_menu::after{
    position: absolute;
    bottom: -2px;
    height: 2px;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    display: block;
    z-index: 2;
    background-color: #141414;
}
.container{
    padding: 10px;
    background-color: #141414;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 0 1px #1f1f1f;
    margin-bottom: 10px;
    border-top: none;
}
.crumb{
    padding: 6px 4px;
    background-color: #111111;
    margin-bottom: 10px;
}
.crumb ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.crumb li{
    float: left;
}
.crumb li.first_crumb>a{
    padding-left: 15px!Important;
}
.crumb li a{
    text-align: center;
    text-decoration: none;
    padding: 6px 0 6px 45px;
    background: #1f1f1f;
    position: relative;
    font-size: 11px;
    display: block;
    float: left;
}
.crumb li.first_crumb a span:first-child{
    visibility: hidden;
    display: inlineblock;
    width: 1px;
}
.crumb li:not(.first_crumb) a span {
    position: relative;
    left: 3px;
    z-index: 3;
}
.crumb .active{
    background-color: #78a80f;
    color: #141414;
    transition: none;
}
.crumb .active::after {
    border-left-color: #78a80f;
}
.crumb li a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #111111;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 3px;
    left: 100%;
    z-index: 1;
}
.crumb li a::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #1f1f1f;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.crumb .active:hover {
    color: #cecece;
}
.crumb a:hover {
    background-color: #272727;
}
.crumb a:hover::after {
    border-left-color: #272727;
}

.content, .footer{
    padding: 10px;
    background-color: #1c1c1c;
}
.ads{
    padding: 10px;
    text-align: center;
    background: #202020;
    border: 2px solid #141414;
}
.ad{
    background: #202020;
    border: 2px solid #141414;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    text-align: center;
}
.ads h1, .ad h2{
    font-size: 15px;
}
.topic {
    width: 85%;
    margin: 10px auto ;
    padding: 20px;
    border: 1px solid #a6ca57;
    border-radius: 5px;
    background-color: #1c1c1c;
}

.topic-title {
    font-size: 24px;
    color: #78a80f;
    background-color: #272727;
    margin: auto 0;
    border-bottom: 1px solid #a6ca57;;
}

.user-name {
    font-size: 18px;
    vertical-align: middle;
}
.user-name a{
    color: #f80000;
    text-decoration: none;

}
.user-name img{
    width: 30px;
    float: right;
    vertical-align: middle;
}

.topic-description {
    font-size: 16px;
    color: #cecece;
}
footer{
    width: 100%;
    margin-top: 2.5rem;
    background-color: #202020;
}
.wrapper{
    width: 88%;
    margin: auto;
}
.footer-inner{
    margin-top: 2.5rem !important;
    padding: 50px 0 2.5rem;
}
.element{
    width: 90% !important;
}
.d-flex{
    display: flex;
}
.footer-nav h3{
    color: #78a80f;
    text-transform: uppercase;
}
.footer-nav hr{

    background-color: #1b1b1b;
    color: #1b1b1b;
    height: 1px;
    border: 0;
}
.footer-nav ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.footer-nav ul a li {
    display: flex;
    padding: 10px 0;
    margin-left: -40px;
    width: calc(100% - 30px);
    cursor: pointer;
    color: #aaa;
    align-items: center;
    border-bottom: 1px solid #1b1b1b;
    border-width: 0.1px;
}
.footer-nav ul li:hover {
    border-color: #78a80f;
    color: #dcdcdc;
}
.flex-one{
    flex: 1;
}
/* Тут даже господь бог не поможет */